[Desktop Entry]
Name=IrcII
Comment=Internet Relay Chat Client
Comment[pl]=Klient IRC-II
Exec=ircii
Terminal=true
Type=Application
# vi: encoding=utf-8
